
<!DOCTYPE html>
<!--[if IE 9 ]> <html lang="vi" class="ie9 loading-site no-js bg-fill"> <![endif]--> <!--[if IE 8 ]> <html lang="vi" class="ie8 loading-site no-js bg-fill"> <![endif]--> <!--[if (gte IE 9)|!(IE)]><!-->
<html lang="vi" class="loading-site no-js bg-fill">
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <link rel="profile" href="https://gmpg.org/xfn/11" />
    <link rel="pingback" href="https://shopwatch.vn/xmlrpc.php" />
    <script data-cfasync="false" data-pagespeed-no-defer type="text/javascript">
        /* <![CDATA[ */ //<![CDATA[
        var gtm4wp_datalayer_name = "dataLayer";
        var dataLayer = dataLayer || [];
        var gtm4wp_use_sku_instead = 1;
        var gtm4wp_id_prefix = '';
        var gtm4wp_remarketing = 1;
        var gtm4wp_eec = 1;
        var gtm4wp_classicec = false;
        var gtm4wp_currency = 'VND';
        var gtm4wp_product_per_impression = 10;
        var gtm4wp_needs_shipping_address = false;
        //]]> /* ]]> */</script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>ShopWatch - Đồng hồ đeo tay chính hãng #1 tại Hà Nội</title>
    <style id="rocket-critical-css">


        html {
            font-family: sans-serif;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%
        }

        body {
            margin: 0
        }

        header,
        main {
            display: block
        }

        a {
            background-color: transparent
        }

        b,
        strong {
            font-weight: inherit
        }

        b,
        strong {
            font-weight: bolder
        }

        img {
            border-style: none
        }

        button,
        input {
            font: inherit
        }

        button,
        input {
            overflow: visible
        }

        button {
            text-transform: none
        }

        button,
        [type="submit"] {
            -webkit-appearance: button
        }

            button::-moz-focus-inner,
            input::-moz-focus-inner {
                border: 0;
                padding: 0
            }

            button:-moz-focusring,
            input:-moz-focusring {
                outline: 1px dotted ButtonText
            }

        [type="checkbox"] {
            box-sizing: border-box;
            padding: 0
        }

        [type="search"] {
            -webkit-appearance: textfield
        }

            [type="search"]::-webkit-search-cancel-button,
            [type="search"]::-webkit-search-decoration {
                -webkit-appearance: none
            }

        *,
        *:before,
        *:after {
            box-sizing: border-box
        }

        html {
            box-sizing: border-box;
            background-attachment: fixed
        }

        body {
            color: #777;
            scroll-behavior: smooth;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale
        }

        img {
            max-width: 100%;
            height: auto;
            display: inline-block;
            vertical-align: middle
        }

        a,
        button,
        input {
            -ms-touch-action: manipulation;
            touch-action: manipulation
        }

        iframe {
            max-width: 100%
        }

        .col {
            position: relative;
            margin: 0;
            padding: 0 15px 30px;
            width: 100%
        }

        .col-inner {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat;
            -ms-flex: 1 0 auto;
            flex: 1 0 auto
        }



        .align-middle {
            -ms-flex-align: center !important;
            align-items: center !important;
            -ms-flex-item-align: center !important;
            -ms-grid-row-align: center !important;
            align-self: center !important;
            vertical-align: middle !important
        }

        .align-bottom {
            -ms-flex-pack: end !important;
            justify-content: flex-end !important;
            -ms-flex-align: end !important;
            align-items: flex-end !important;
            -ms-flex-item-align: end !important;
            align-self: flex-end !important;
            vertical-align: bottom !important
        }

        .align-center {
            -ms-flex-pack: center !important;
            justify-content: center !important
        }

        .small-6 {
            max-width: 50%;
            -ms-flex-preferred-size: 50%;
            flex-basis: 50%
        }

        .small-12 {
            max-width: 100%;
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%
        }



        body,
        .container,
        .row {
            width: 100%;
            margin-left: auto;
            margin-right: auto
        }

        .container {
            padding-left: 15px;
            padding-right: 15px
        }

        .container,
        .row {
            max-width: 1080px
        }

            .row.row-collapse {
                max-width: 1050px
            }

            .row.row-large {
                max-width: 1110px
            }

        .flex-row {
            -js-display: flex;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: justify;
            justify-content: space-between;
            width: 100%
        }

        .text-center .flex-row {
            -ms-flex-pack: center;
            justify-content: center
        }

        .header .flex-row {
            height: 100%
        }

        .flex-col {
            max-height: 100%
        }

        .flex-grow {
            -ms-flex: 1;
            flex: 1;
            -ms-flex-negative: 1;
            -ms-flex-preferred-size: auto !important
        }

        .flex-center {
            margin: 0 auto
        }

        .flex-left {
            margin-right: auto
        }

        .flex-right {
            margin-left: auto
        }

        .flex-has-center > .flex-row > .flex-col:not(.flex-center) {
            -ms-flex: 1;
            flex: 1
        }



        .row {
            width: 100%;
            -js-display: flex;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap
        }

            .row .row:not(.row-collapse) {
                padding-left: 0;
                padding-right: 0;
                margin-left: -15px;
                margin-right: -15px;
                width: auto
            }

            .row .container {
                padding-left: 0;
                padding-right: 0
            }

        .row-full-width {
            max-width: 100% !important
        }

        .row-collapse {
            padding: 0
        }

            .row-collapse > .col {
                padding: 0 !important
            }



        .nav-dropdown {
            position: absolute;
            min-width: 260px;
            max-height: 0;
            z-index: 9;
            padding: 20px 0 20px;
            opacity: 0;
            margin: 0;
            box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
            border: 2px solid #ddd;
            color: #777;
            background-color: #fff;
            text-align: left;
            display: table;
            left: -99999px
        }

            .nav-dropdown:after {
                visibility: hidden;
                display: block;
                content: "";
                clear: both;
                height: 0
            }

            .nav-dropdown li {
                display: block;
                margin: 0;
                vertical-align: top
            }

            .nav-dropdown > li > a {
                width: auto;
                display: block;
                padding: 10px 20px;
                line-height: 1.3
            }

            .nav-dropdown > li:last-child:not(.nav-dropdown-col) > a {
                border-bottom: 0 !important
            }

            .nav-dropdown.dropdown-uppercase > li > a {
                text-transform: uppercase;
                font-size: .85em
            }

            .nav-dropdown.nav-dropdown-default > li > a {
                padding-left: 0;
                padding-right: 0;
                margin: 0 10px;
                border-bottom: 1px solid #ececec
            }

        .nav-dropdown-default {
            padding: 20px
        }

        .nav-dropdown-has-arrow li.has-dropdown:after,
        .nav-dropdown-has-arrow li.has-dropdown:before {
            bottom: -2px;
            z-index: 10;
            opacity: 0;
            left: 50%;
            border: solid transparent;
            content: '';
            height: 0;
            width: 0;
            position: absolute
        }

        .nav-dropdown-has-arrow li.has-dropdown:after {
            border-color: rgba(221, 221, 221, 0);
            border-bottom-color: #fff;
            border-width: 8px;
            margin-left: -8px
        }

        .nav-dropdown-has-arrow li.has-dropdown:before {
            z-index: -999;
            border-bottom-color: #ddd;
            border-width: 11px;
            margin-left: -11px
        }

        .nav p {
            margin: 0;
            padding-bottom: 0
        }

        .nav,
        .nav ul:not(.nav-dropdown) {
            margin: 0;
            padding: 0
        }

        .nav {
            width: 100%;
            position: relative;
            display: inline-block;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -ms-flex-align: center;
            align-items: center
        }

            .nav > li {
                display: inline-block;
                list-style: none;
                margin: 0;
                padding: 0;
                position: relative;
                margin: 0 7px
            }

                .nav > li > a {
                    padding: 10px 0;
                    display: inline-block;
                    display: -ms-inline-flexbox;
                    display: inline-flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -ms-flex-align: center;
                    align-items: center
                }

        .html .nav > li > a {
            padding-top: 0;
            padding-bottom: 0
        }

        .nav-small .nav > li > a {
            vertical-align: top;
            padding-top: 5px;
            padding-bottom: 5px;
            font-weight: normal
        }

        .nav-small.nav > li.html {
            font-size: .75em
        }

        .nav-center {
            -ms-flex-pack: center;
            justify-content: center
        }

        .nav-left {
            -ms-flex-pack: start;
            justify-content: flex-start
        }

        .nav-right {
            -ms-flex-pack: end;
            justify-content: flex-end
        }



        .nav > li > a,
        .nav-dropdown > li > a {
            color: rgba(102, 102, 102, 0.85)
        }

        .nav-dropdown > li > a {
            display: block
        }

        .nav > li.active > a {
            color: rgba(17, 17, 17, 0.85)
        }

        .nav li:first-child {
            margin-left: 0 !important
        }

        .nav li:last-child {
            margin-right: 0 !important
        }

        .nav-uppercase > li > a {
            letter-spacing: .02em;
            text-transform: uppercase;
            font-weight: bolder
        }



        li.html .row,
        li.html form,
        li.html input {
            margin: 0
        }

        .nav-line-grow > li > a:before {
            content: " ";
            position: absolute;
            top: 0;
            left: 50%;
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            width: 100%;
            background-color: #446084;
            opacity: 0;
            height: 3px
        }

        .nav-line-grow > li.active > a:before {
            opacity: 1
        }

        .nav-line-grow > li > a:before {
            width: 0%
        }

        .nav-line-grow > li.active > a:before {
            width: 100%
        }

        .nav.nav-vertical {
            -ms-flex-flow: column;
            flex-flow: column
        }

            .nav.nav-vertical li {
                list-style: none;
                margin: 0;
                width: 100%
            }

        .nav-vertical li li {
            font-size: 1em;
            padding-left: .5em
        }

        .nav-vertical > li {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -ms-flex-align: center;
            align-items: center
        }

            .nav-vertical > li ul {
                width: 100%
            }

            .nav-vertical > li > ul > li a,
            .nav-vertical > li > a {
                display: block;
                width: auto;
                -ms-flex-positive: 1;
                flex-grow: 1
            }

            .nav-vertical > li.html {
                padding-top: 1em;
                padding-bottom: 1em
            }

            .nav-vertical > li > ul li a {
                color: #666
            }

            .nav-vertical > li > ul {
                margin: 0 0 2em;
                padding-left: 1em
            }

        .nav .children {
            position: fixed;
            opacity: 0;
            left: -99999px;
            -ms-transform: translateX(-10px);
            transform: translateX(-10px)
        }

        .nav-sidebar.nav-vertical > li + li {
            border-top: 1px solid #ececec
        }

        .nav-vertical > li + li {
            border-top: 1px solid #ececec
        }

        .box a {
            display: inline-block
        }

        .button,
        button {
            position: relative;
            display: inline-block;
            background-color: transparent;
            text-transform: uppercase;
            font-size: .97em;
            letter-spacing: .03em;
            font-weight: bolder;
            text-align: center;
            color: currentColor;
            text-decoration: none;
            border: 1px solid transparent;
            vertical-align: middle;
            border-radius: 0;
            margin-top: 0;
            margin-right: 1em;
            text-shadow: none;
            line-height: 2.4em;
            min-height: 2.5em;
            padding: 0 1.2em;
            max-width: 100%;
            text-rendering: optimizeLegibility;
            box-sizing: border-box
        }

        .button {
            color: #fff;
            background-color: #446084;
            background-color: var(--primary-color);
            border-color: rgba(0, 0, 0, 0.05)
        }

        .dark .button {
            color: #fff
        }

        .is-bevel {
            overflow: hidden
        }

            .is-bevel:after {
                content: "";
                position: absolute;
                top: 0;
                left: -25%;
                height: 100%;
                width: 150%;
                box-shadow: inset 0 1.2em 0 0 rgba(255, 255, 255, 0.1)
            }

            .is-bevel:after {
                left: 0;
                width: 100%;
                box-shadow: inset -0.01em -0.1em 0 0 rgba(0, 0, 0, 0.15)
            }

        .primary {
            background-color: #446084
        }

        .secondary {
            background-color: #d26e4b
        }

        .text-center .button:first-of-type {
            margin-left: 0 !important
        }

        .text-center .button:last-of-type {
            margin-right: 0 !important
        }

        .header-button {
            display: inline-block
        }

            .header-button .button {
                margin: 0
            }

        .flex-col button,
        .flex-col .button,
        .flex-col input {
            margin-bottom: 0
        }

        form {
            margin-bottom: 0
        }

        input[type='search'],
        input[type='text'],
        input[type='password'] {
            box-sizing: border-box;
            border: 1px solid #ddd;
            padding: 0 .75em;
            height: 2.507em;
            font-size: .97em;
            border-radius: 0;
            max-width: 100%;
            width: 100%;
            vertical-align: middle;
            background-color: #fff;
            color: #333;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)
        }

        input[type='search'],
        input[type='text'] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none
        }

        label {
            font-weight: bold;
            display: block;
            font-size: .9em;
            margin-bottom: 0.4em
        }

        input[type='checkbox'] {
            display: inline;
            margin-right: 10px;
            font-size: 16px
        }

        i[class^="icon-"] {
            font-family: 'fl-icons' !important;
            font-display: block;
            speak: none !important;
            margin: 0;
            padding: 0;
            display: inline-block;
            font-style: normal !important;
            font-weight: normal !important;
            font-variant: normal !important;
            text-transform: none !important;
            position: relative;
            line-height: 1.2
        }

        button i,
        .button i {
            vertical-align: middle;
            top: -1.5px
        }

        .button.icon {
            margin-left: .12em;
            margin-right: .12em;
            min-width: 2.5em;
            padding-left: .6em;
            padding-right: .6em;
            display: inline-block
        }

            .button.icon i {
                font-size: 1.2em
            }

            .button.icon.is-small {
                border-width: 1px
            }

                .button.icon.is-small i {
                    top: -1px
                }

        .nav > li > a > i {
            vertical-align: middle;
            font-size: 20px
        }

            .nav > li > a > i + span {
                margin-left: 5px
            }

        .has-dropdown .icon-angle-down {
            font-size: 16px;
            margin-left: .2em;
            opacity: .6
        }

        .image-icon {
            display: inline-block;
            height: auto;
            vertical-align: middle;
            position: relative
        }

        img {
            opacity: 1
        }

        .img {
            position: relative
        }

            .img .img-inner {
                position: relative;
                overflow: hidden
            }

            .img,
            .img img {
                width: 100%
            }

        .lazy-load {
            background-color: rgba(0, 0, 0, 0.03)
        }

        .image-cover {
            position: relative;
            height: auto;
            overflow: hidden;
            padding-top: 100%;
            background-position: 50% 50%;
            background-size: cover
        }

            .image-cover img {
                right: 0;
                width: 100%;
                height: 100%;
                bottom: 0;
                left: 0;
                top: 0;
                position: absolute;
                object-position: 50% 50%;
                object-fit: cover;
                font-family: 'object-fit:cover;'
            }

        .lightbox-content {
            background-color: #fff;
            max-width: 875px;
            margin: 0 auto;
            transform: translateZ(0);
            box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.15);
            position: relative
        }

            .lightbox-content .lightbox-inner {
                padding: 30px 20px
            }

        .mfp-hide {
            display: none !important
        }

        .loading-spin {
            position: relative
        }

        .loading-spin {
            content: '';
            margin: 0px auto;
            font-size: 10px;
            text-indent: -9999em;
            border-top: 3px solid rgba(0, 0, 0, 0.1) !important;
            border-right: 3px solid rgba(0, 0, 0, 0.1) !important;
            border-bottom: 3px solid rgba(0, 0, 0, 0.1) !important;
            opacity: .8;
            border-left: 3px solid #446084;
            animation: spin .6s infinite linear;
            border-radius: 50%;
            width: 30px;
            height: 30px
        }

        .dark.loading-spin {
            border-top: 3px solid rgba(0, 0, 0, 0.1) !important;
            border-right: 3px solid rgba(0, 0, 0, 0.1) !important;
            border-bottom: 3px solid rgba(0, 0, 0, 0.1) !important;
            border-left: 3px solid #fff !important
        }

        .loading-spin.centered {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -15px;
            margin-top: -15px;
            z-index: 99
        }

        .loading-spin {
            border-radius: 50%;
            width: 30px;
            height: 30px
        }



        .slider-wrapper {
            position: relative
        }

        .slider > .img {
            margin-bottom: 0
        }

        .slider {
            position: relative;
            scrollbar-width: none
        }

            .slider:not(.flickity-enabled) {
                white-space: nowrap;
                overflow-y: hidden;
                overflow-x: scroll;
                width: auto;
                -ms-overflow-style: -ms-autohiding-scrollbar
            }

            .slider::-webkit-scrollbar {
                width: 0px !important;
                height: 0px !important
            }

            .slider:not(.flickity-enabled) > * {
                display: inline-block !important;
                white-space: normal !important;
                vertical-align: top
            }

            .slider > div:not(.col) {
                width: 100%
            }

        label {
            color: #222
        }

        a {
            color: #334862;
            text-decoration: none
        }

        ul {
            list-style: disc
        }

        ul {
            margin-top: 0;
            padding: 0
        }

            ul ul {
                margin: 1.5em 0 1.5em 3em
            }

        li {
            margin-bottom: .6em
        }

        .button,
        button,
        input {
            margin-bottom: 1em
        }

        form,
        p,
        ul {
            margin-bottom: 1.3em
        }

            form p {
                margin-bottom: .5em
            }

        body {
            line-height: 1.6
        }

        h3 {
            color: #555;
            width: 100%;
            margin-top: 0;
            margin-bottom: .5em;
            text-rendering: optimizeSpeed
        }

        h3 {
            font-size: 1.25em
        }



        p {
            margin-top: 0
        }

        h3 > span {
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone
        }

        .uppercase {
            line-height: 1.05;
            letter-spacing: .05em;
            text-transform: uppercase
        }

        .is-normal {
            font-weight: normal
        }

        .uppercase {
            line-height: 1.2;
            text-transform: uppercase
        }

        .is-large {
            font-size: 1.15em
        }

        .is-small,
        .is-small.button {
            font-size: .8em
        }



        .box-text .button {
            margin-top: 1em
        }

        .nav > li > a {
            font-size: .8em
        }

        .nav > li.html {
            font-size: .85em
        }

        .nav-size-medium > li > a {
            font-size: .9em
        }

        .nav-spacing-medium > li {
            margin: 0 9px
        }

        .container:after,
        .row:after {
            content: "";
            display: table;
            clear: both
        }



        .full-width {
            width: 100% !important;
            max-width: 100% !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            display: block
        }

        .mb-0 {
            margin-bottom: 0 !important
        }

        .text-left {
            text-align: left
        }

        .text-center {
            text-align: center
        }

            .text-center > div {
                margin-left: auto;
                margin-right: auto
            }

        .relative {
            position: relative !important
        }

        .fill {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            right: 0;
            bottom: 0;
            padding: 0 !important;
            margin: 0 !important
        }

        .bg-fill {
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: 50% 50%
        }

        .round {
            border-radius: 5px
        }

        .z-top {
            z-index: 9995
        }

        .no-scrollbar {
            -ms-overflow-style: -ms-autohiding-scrollbar;
            scrollbar-width: none
        }

            .no-scrollbar::-webkit-scrollbar {
                width: 0px !important;
                height: 0px !important
            }

        .screen-reader-text {
            clip: rect(1px, 1px, 1px, 1px);
            position: absolute !important;
            height: 1px;
            width: 1px;
            overflow: hidden
        }

        .dark {
            color: #f1f1f1
        }

            .dark label {
                color: #fff
            }

        .nav-dark .nav > li > a {
            color: rgba(255, 255, 255, 0.8)
        }

        .nav-dark .nav-divided > li + li > a:after {
            border-color: rgba(255, 255, 255, 0.2)
        }

        .nav-dark .nav > li.html {
            color: #fff
        }

        html {
            overflow-x: hidden
        }

        #wrapper,
        #main {
            background-color: #fff;
            position: relative
        }

        .page-wrapper {
            padding-top: 30px;
            padding-bottom: 30px
        }

        .header,
        .header-wrapper {
            width: 100%;
            z-index: 30;
            position: relative;
            background-size: cover;
            background-position: 50% 0
        }

        .header-bg-color {
            background-color: rgba(255, 255, 255, 0.9)
        }

        .header-top,
        .header-bottom {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-wrap: no-wrap;
            flex-wrap: no-wrap
        }

        .header-bg-image,
        .header-bg-color {
            background-position: 50% 0
        }

        .header-top {
            background-color: #446084;
            z-index: 11;
            position: relative;
            min-height: 20px
        }

        .header-main {
            z-index: 10;
            position: relative
        }

        .header-bottom {
            z-index: 9;
            position: relative;
            min-height: 35px
        }

        .top-divider {
            margin-bottom: -1px;
            border-top: 1px solid currentColor;
            opacity: 0.1
        }

        .header-shadow .header-wrapper {
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15)
        }

        .nav > li.header-divider {
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            height: 30px;
            vertical-align: middle;
            position: relative;
            margin: 0 7.5px
        }



        html {
            background-color: #5b5b5b
        }

        .logo {
            line-height: 1;
            margin: 0
        }

            .logo a {
                text-decoration: none;
                display: block;
                color: #446084;
                font-size: 32px;
                text-transform: uppercase;
                font-weight: bolder;
                margin: 0
            }

            .logo img {
                display: block;
                width: auto
            }

        .header-logo-dark {
            display: none !important
        }

        .logo-left .logo {
            margin-left: 0;
            margin-right: 30px
        }



        .sidebar-menu .search-form {
            display: block !important
        }

        .searchform-wrapper form {
            margin-bottom: 0
        }

        .sidebar-menu .search-form {
            padding: 5px 0;
            width: 100%
        }

        .searchform-wrapper:not(.form-flat) .submit-button {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important
        }

        .searchform {
            position: relative
        }

            .searchform .button.icon {
                margin: 0
            }

                .searchform .button.icon i {
                    font-size: 1.2em
                }

        .searchform-wrapper {
            width: 100%
        }

        #search-lightbox {
            font-size: 1.5em;
            margin: 0 auto;
            max-width: 600px
        }

        .section-title-container {
            margin-bottom: 1.5em
        }

        .slider-wrapper + .section-title-container {
            margin-top: 30px
        }

        .section-title {
            position: relative;
            -js-display: flex;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: justify;
            justify-content: space-between;
            width: 100%
        }

            .section-title span {
                text-transform: uppercase
            }

            .section-title b {
                display: block;
                -ms-flex: 1;
                flex: 1;
                height: 2px;
                opacity: .1;
                background-color: currentColor
            }

        .section-title-center span {
            margin: 0 15px
        }

        .section-title-center span {
            text-align: center
        }

        .icon-phone:before {
            content: "\e600"
        }

        .icon-menu:before {
            content: "\e800"
        }

        .icon-angle-down:before {
            content: "\f107"
        }

        .icon-envelop:before {
            content: "\e003"
        }

        .icon-search:before {
            content: "\e012"
        }

        .icon-clock:before {
            content: "\e01a"
        }

        .woocommerce-form-login .button {
            margin-bottom: 0
        }

        p.form-row-wide {
            clear: both
        }

        .cart-icon {
            display: inline-block
        }

            .cart-icon strong {
                border-radius: 0;
                font-weight: bold;
                margin: .3em 0;
                border: 2px solid #446084;
                color: #446084;
                position: relative;
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                width: 2.2em;
                height: 2.2em;
                font-size: 1em;
                line-height: 1.9em;
                font-family: Helvetica, Arial, Sans-serif
            }

                .cart-icon strong:after {
                    bottom: 100%;
                    margin-bottom: 0;
                    margin-left: -7px;
                    height: 8px;
                    width: 14px;
                    left: 50%;
                    content: ' ';
                    position: absolute;
                    border: 2px solid #446084;
                    border-top-left-radius: 99px;
                    border-top-right-radius: 99px;
                    border-bottom: 0
                }

        ul {
            padding: 0;
            margin: 0;
            list-style: none
        }

        .text-center {
            text-align: center
        }
    </style>
    <link rel="preload" href="https://shopwatch.vn/wp-content/cache/min/1/2fca51f973bab8f44c25e2ae50a88a94.css" data-rocket-async="style" as="style" onload="this.onload=null;this.rel='stylesheet'" data-minify="1" />
    <meta name="description" content="ShopWatch là nhà phân phối chính hãng của nhiều thương hiệu đồng hồ đeo tay uy tín như: Seiko, Citizen, Orient , Daniel Wellington - Casio - Cam kết mức giá hợp lý - Bảo hành chính hãng 5 năm. Xem ngay !" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="canonical" href="https://shopwatch.vn/" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="ShopWatch - Đồng hồ đeo tay chính hãng #1 tại Hà Nội" />
    <meta property="og:description" content="ShopWatch là nhà phân phối chính hãng của nhiều thương hiệu đồng hồ đeo tay uy tín như: Seiko, Citizen, Orient , Daniel Wellington - Casio - Cam kết mức giá hợp lý - Bảo hành chính hãng 5 năm. Xem ngay !" />
    <meta property="og:url" content="https://shopwatch.vn/" />
    <meta property="og:site_name" content="ShopWatch - Đồng hồ chính hãng" />
    <meta property="article:publisher" content="https://www.facebook.com/shopwatch.vn/" />
    <meta property="article:author" content="https://www.facebook.com/nambinhlam10" />
    <meta property="article:modified_time" content="2020-09-08T04:11:32+00:00" />
    <meta name="twitter:card" content="summary" />
    <link href='https://fonts.gstatic.com' crossorigin rel='preconnect' />
    <style id='woocommerce-inline-inline-css' type='text/css'>
        .woocommerce form .form-row .required {
            visibility: visible
        }
    </style>
    <style id='rocket-lazyload-inline-css' type='text/css'>
        .rll-youtube-player {
            position: relative;
            padding-bottom: 56.23%;
            height: 0;
            overflow: hidden;
            max-width: 100%
        }

            .rll-youtube-player iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 100;
                background: 0 0
            }

            .rll-youtube-player img {
                bottom: 0;
                display: block;
                left: 0;
                margin: auto;
                max-width: 100%;
                width: 100%;
                position: absolute;
                right: 0;
                top: 0;
                border: none;
                height: auto;
                cursor: pointer;
                -webkit-transition: .4s all;
                -moz-transition: .4s all;
                transition: .4s all
            }

                .rll-youtube-player img:hover {
                    -webkit-filter: brightness(75%)
                }

            .rll-youtube-player .play {
                height: 72px;
                width: 72px;
                left: 50%;
                top: 50%;
                margin-left: -36px;
                margin-top: -36px;
                position: absolute;
                background: url(https://shopwatch.vn/wp-content/plugins/wp-rocket/assets/img/youtube.png) no-repeat;
                cursor: pointer
            }
    </style>
    <link rel="https://api.w.org/" href="https://shopwatch.vn/wp-json/" />
    <link rel="alternate" type="application/json" href="https://shopwatch.vn/wp-json/wp/v2/pages/46" />
    <script data-cfasync="false" data-pagespeed-no-defer type="text/javascript">
        /* <![CDATA[ */ //<![CDATA[
        var google_tag_params = { "pagePostType": "frontpage", "pagePostType2": "single-page", "pagePostAuthor": "L\u00e2m V\u0103n B\u00ecnh", "browserName": "Chrome", "browserVersion": "80.0.3987.149", "browserEngineName": "Blink", "browserEngineVersion": "", "osName": "Windows", "osVersion": "10.0", "deviceType": "desktop", "deviceManufacturer": "", "deviceModel": "", "ecomm_prodid": [], "ecomm_pagetype": "home", "ecomm_totalvalue": 0 };
        var dataLayer_content = { "pagePostType": "frontpage", "pagePostType2": "single-page", "pagePostAuthor": "Lâm Văn Bình", "browserName": "Chrome", "browserVersion": "80.0.3987.149", "browserEngineName": "Blink", "browserEngineVersion": "", "osName": "Windows", "osVersion": "10.0", "deviceType": "desktop", "deviceManufacturer": "", "deviceModel": "", "ecomm_prodid": [], "ecomm_pagetype": "home", "ecomm_totalvalue": 0, "google_tag_params": window.google_tag_params };
        dataLayer.push(dataLayer_content);//]]> /* ]]> */</script>
    <script data-cfasync="false">
        /* <![CDATA[ */ //<![CDATA[
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '//www.googletagmanager.com/gtm.' + 'js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PNN38ZH');//]]> /* ]]> */</script>
    <style>
        .bg {
            opacity: 0;
            transition: opacity 1s;
            -webkit-transition: opacity 1s
        }

        .bg-loaded {
            opacity: 1
        }
    </style><!--[if IE]><link rel="stylesheet" type="text/css" href="https://shopwatch.vn/wp-content/themes/flatsome/assets/css/ie-fallback.css"><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script><script>var head = document.getElementsByTagName('head')[0],style = document.createElement('style');style.type = 'text/css';style.styleSheet.cssText = ':before,:after{content:none !important';head.appendChild(style);setTimeout(function(){head.removeChild(style);}, 0);</script><script src="https://shopwatch.vn/wp-content/themes/flatsome/assets/libs/ie-flexibility.js"></script><![endif]-->
    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important
            }
        </style>
    </noscript>
    <script type="text/javascript">
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://shopwatch.vn/wp-content/cache/busting/facebook-tracking/fbpix-events-en_US-2.9.29.js');</script>
    <link rel="icon" href="https://shopwatch.vn/wp-content/uploads/2017/12/cropped-Untitled-1-32x32.png" sizes="32x32" />
    <link rel="icon" href="https://shopwatch.vn/wp-content/uploads/2017/12/cropped-Untitled-1-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="https://shopwatch.vn/wp-content/uploads/2017/12/cropped-Untitled-1-180x180.png" />
    <meta name="msapplication-TileImage" content="https://shopwatch.vn/wp-content/uploads/2017/12/cropped-Untitled-1-270x270.png" />
    <style id="custom-css" type="text/css">
        :root {
            --primary-color: #DA1818
        }

        .header-main {
            height: 91px
        }

        #logo img {
            max-height: 91px
        }

        #logo {
            width: 166px
        }

        .header-bottom {
            min-height: 55px
        }

        .header-top {
            min-height: 30px
        }

        .transparent .header-main {
            height: 265px
        }

        .transparent #logo img {
            max-height: 265px
        }

        .has-transparent + .page-title:first-of-type,
        .has-transparent + #main > .page-title,
        .has-transparent + #main > div > .page-title,
        .has-transparent + #main .page-header-wrapper:first-of-type .page-title {
            padding-top: 345px
        }

        .header.show-on-scroll,
        .stuck .header-main {
            height: 70px !important
        }

        .stuck #logo img {
            max-height: 70px !important
        }

        .search-form {
            width: 90%
        }

        .header-bg-color,
        .header-wrapper {
            background-color: #fff
        }

        .header-bottom {
            background-color: #fff
        }

        .header-main .nav > li > a {
            line-height: 16px
        }

        .stuck .header-main .nav > li > a {
            line-height: 50px
        }

        .header-bottom-nav > li > a {
            line-height: 16px
        }



        .nav-dropdown {
            border-radius: 5px
        }

        .nav-dropdown {
            font-size: 100%
        }

        .header-top {
            background-color: #b21414 !important
        }

        .accordion-title.active,
        .has-icon-bg .icon .icon-inner,
        .logo a,
        .primary.is-underline,
        .primary.is-link,
        .badge-outline .badge-inner,
        .nav-outline > li.active > a,
        .nav-outline > li.active > a,
        .cart-icon strong,
        [data-color='primary'],
        .is-outline.primary {
            color: #DA1818
        }

        [data-text-color="primary"] {
            color: #DA1818 !important
        }

        [data-text-bg="primary"] {
            background-color: #DA1818
        }

        .scroll-to-bullets a,
        .featured-title,
        .label-new.menu-item > a:after,
        .nav-pagination > li > .current,
        .nav-pagination > li > span:hover,
        .nav-pagination > li > a:hover,
        .has-hover:hover .badge-outline .badge-inner,
        button[type="submit"],
        .button.wc-forward:not(.checkout):not(.checkout-button),
        .button.submit-button,
        .button.primary:not(.is-outline),
        .featured-table .title,
        .is-outline:hover,
        .has-icon:hover .icon-label,
        .nav-dropdown-bold .nav-column li > a:hover,
        .nav-dropdown.nav-dropdown-bold > li > a:hover,
        .nav-dropdown-bold.dark .nav-column li > a:hover,
        .nav-dropdown.nav-dropdown-bold.dark > li > a:hover,
        .is-outline:hover,
        .tagcloud a:hover,
        .grid-tools a,
        input[type='submit']:not(.is-form),
        .box-badge:hover .box-text,
        input.button.alt,
        .nav-box > li > a:hover,
        .nav-box > li.active > a,
        .nav-pills > li.active > a,
        .current-dropdown .cart-icon strong,
        .cart-icon:hover strong,
        .nav-line-bottom > li > a:before,
        .nav-line-grow > li > a:before,
        .nav-line > li > a:before,
        .banner,
        .header-top,
        .slider-nav-circle .flickity-prev-next-button:hover svg,
        .slider-nav-circle .flickity-prev-next-button:hover .arrow,
        .primary.is-outline:hover,
        .button.primary:not(.is-outline),
        input[type='submit'].primary,
        input[type='submit'].primary,
        input[type='reset'].button,
        input[type='button'].primary,
        .badge-inner {
            background-color: #DA1818
        }

            .nav-vertical.nav-tabs > li.active > a,
            .scroll-to-bullets a.active,
            .nav-pagination > li > .current,
            .nav-pagination > li > span:hover,
            .nav-pagination > li > a:hover,
            .has-hover:hover .badge-outline .badge-inner,
            .accordion-title.active,
            .featured-table,
            .is-outline:hover,
            .tagcloud a:hover,
            blockquote,
            .has-border,
            .cart-icon strong:after,
            .cart-icon strong,
            .blockUI:before,
            .processing:before,
            .loading-spin,
            .slider-nav-circle .flickity-prev-next-button:hover svg,
            .slider-nav-circle .flickity-prev-next-button:hover .arrow,
            .primary.is-outline:hover {
                border-color: #DA1818
            }

        .nav-tabs > li.active > a {
            border-top-color: #DA1818
        }

        .widget_shopping_cart_content .blockUI.blockOverlay:before {
            border-left-color: #DA1818
        }

        .woocommerce-checkout-review-order .blockUI.blockOverlay:before {
            border-left-color: #DA1818
        }

        .slider .flickity-prev-next-button:hover svg,
        .slider .flickity-prev-next-button:hover .arrow {
            fill: #DA1818
        }

        [data-icon-label]:after,
        .secondary.is-underline:hover,
        .secondary.is-outline:hover,
        .icon-label,
        .button.secondary:not(.is-outline),
        .button.alt:not(.is-outline),
        .badge-inner.on-sale,
        .button.checkout,
        .single_add_to_cart_button,
        .current .breadcrumb-step {
            background-color: #cc6b04
        }

        [data-text-bg="secondary"] {
            background-color: #cc6b04
        }

        .secondary.is-underline,
        .secondary.is-link,
        .secondary.is-outline,
        .stars a.active,
        .star-rating:before,
        .woocommerce-page .star-rating:before,
        .star-rating span:before,
        .color-secondary {
            color: #cc6b04
        }

        [data-text-color="secondary"] {
            color: #cc6b04 !important
        }

        .secondary.is-outline:hover {
            border-color: #cc6b04
        }

        body {
            font-size: 100%
        }

        body {
            font-family: "Helvetica,Arial,sans-serif", sans-serif
        }

        body {
            font-weight: 0
        }

        body {
            color: #777
        }

        .nav > li > a {
            font-family: "Helvetica,Arial,sans-serif", sans-serif
        }

        .mobile-sidebar-levels-2 .nav > li > ul > li > a {
            font-family: "Helvetica,Arial,sans-serif", sans-serif
        }

        .nav > li > a {
            font-weight: 700
        }

        .mobile-sidebar-levels-2 .nav > li > ul > li > a {
            font-weight: 700
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .heading-font,
        .off-canvas-center .nav-sidebar.nav-vertical > li > a {
            font-family: "Helvetica,Arial,sans-serif", sans-serif
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .heading-font,
        .banner h1,
        .banner h2 {
            font-weight: 700
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .heading-font {
            color: #555
        }

        .alt-font {
            font-family: "Helvetica,Arial,sans-serif", sans-serif
        }

        .header:not(.transparent) .header-bottom-nav.nav > li > a {
            color: rgba(102, 102, 102, .85)
        }

            .header:not(.transparent) .header-bottom-nav.nav > li > a:hover,
            .header:not(.transparent) .header-bottom-nav.nav > li.active > a,
            .header:not(.transparent) .header-bottom-nav.nav > li.current > a,
            .header:not(.transparent) .header-bottom-nav.nav > li > a.active,
            .header:not(.transparent) .header-bottom-nav.nav > li > a.current {
                color: #d33
            }

        .header-bottom-nav.nav-line-bottom > li > a:before,
        .header-bottom-nav.nav-line-grow > li > a:before,
        .header-bottom-nav.nav-line > li > a:before,
        .header-bottom-nav.nav-box > li > a:hover,
        .header-bottom-nav.nav-box > li.active > a,
        .header-bottom-nav.nav-pills > li > a:hover,
        .header-bottom-nav.nav-pills > li.active > a {
            color: #FFF !important;
            background-color: #d33
        }

        a {
            color: #DA1818
        }

            a:hover {
                color: #111
            }

        .tagcloud a:hover {
            border-color: #111;
            background-color: #111
        }

        .shop-page-title.featured-title .title-overlay {
            background-color: rgba(0, 0, 0, .3)
        }

        .current .breadcrumb-step,
        [data-icon-label]:after,
        .button#place_order,
        .button.checkout,
        .checkout-button,
        .single_add_to_cart_button.button {
            background-color: #dd3333 !important
        }

        .products.has-equal-box-heights .box-image {
            padding-top: 100%
        }



        #billing_country_field {
            display: none
        }

        #billing_address_1_field {
            width: 100%
        }

        .table_1 {
            width: 50%;
            float: left;
            clear: left;
            padding-right: 30px;
            box-sizing: border-box
        }

        .table_2 {
            width: 50%;
            float: right
        }

        .woocommerce-ordering {
            display: none
        }

        .devvn_prod_cmt {
            padding: 10px
        }

        #reviews.woocommerce-Reviews {
            padding: 10px
        }

        .single_add_to_cart_button.button {
            width: 68%;
            font-size: 20px
        }

        .quantity {
            vertical-align: middle
        }

        .form-flat button {
            border-radius: 15px
        }

        #u_0_0, .fb-comment>span, fb-comment>span>iframe {
            width:1024px
        }

        .label-new.menu-item > a:after {
            content: "New"
        }

        .label-hot.menu-item > a:after {
            content: "Hot"
        }

        .label-sale.menu-item > a:after {
            content: "Sale"
        }

        .label-popular.menu-item > a:after {
            content: "Popular"
        }
    </style>
    <noscript>
        <style id="rocket-lazyload-nojs-css">
            .rll-youtube-player, [data-lazy-src] {
                display: none !important
            }
        </style>
    </noscript>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0" nonce="IoLWNU8s"></script>
    <script>
        /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
        (function (w) {
            "use strict"; if (!w.loadCSS) { w.loadCSS = function () { } }
            var rp = loadCSS.relpreload = {}; rp.support = (function () {
                var ret; try { ret = w.document.createElement("link").relList.supports("preload") } catch (e) { ret = !1 }
                return function () { return ret }
            })(); rp.bindMediaToggle = function (link) {
                var finalMedia = link.media || "all"; function enableStylesheet() { link.media = finalMedia }
                if (link.addEventListener) { link.addEventListener("load", enableStylesheet) } else if (link.attachEvent) { link.attachEvent("onload", enableStylesheet) }
                setTimeout(function () { link.rel = "stylesheet"; link.media = "only x" }); setTimeout(enableStylesheet, 3000)
            }; rp.poly = function () {
                if (rp.support()) { return }
                var links = w.document.getElementsByTagName("link"); for (var i = 0; i < links.length; i++) { var link = links[i]; if (link.rel === "preload" && link.getAttribute("as") === "style" && !link.getAttribute("data-loadcss")) { link.setAttribute("data-loadcss", !0); rp.bindMediaToggle(link) } }
            }; if (!rp.support()) { rp.poly(); var run = w.setInterval(rp.poly, 500); if (w.addEventListener) { w.addEventListener("load", function () { rp.poly(); w.clearInterval(run) }) } else if (w.attachEvent) { w.attachEvent("onload", function () { rp.poly(); w.clearInterval(run) }) } }
            if (typeof exports !== "undefined") { exports.loadCSS = loadCSS }
            else { w.loadCSS = loadCSS }
        }(typeof global !== "undefined" ? global : this))</script>
</head>
<body data-rsssl=1 class="home page-template-default page page-id-46 theme-flatsome woocommerce-no-js full-width bg-fill lightbox nav-dropdown-has-arrow nav-dropdown-has-shadow nav-dropdown-has-border">
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PNN38ZH" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> <a class="skip-link screen-reader-text" href="#main">Skip to content</a><div id="wrapper">
        @{ Html.RenderAction("Header","Home");}
        @RenderBody()
    <footer id="footer" class="footer-wrapper"><div class="footer-widgets footer footer-1"><div class="row large-columns-3 mb-0"><div id="custom_html-3" class="widget_text col pb-0 widget widget_custom_html"><span class="widget-title">Giới thiệu</span><div class="is-divider small"></div><div class="textwidget custom-html-widget"><img class="aligncenter size-full wp-image-5972" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201040%20240'%3E%3C/svg%3E" alt="" width="1040" height="240" data-lazy-src="https://shopwatch.vn/wp-content/uploads/2017/11/logo-shopwatch.png" /><noscript><img class="aligncenter size-full wp-image-5972" src="https://shopwatch.vn/wp-content/uploads/2017/11/logo-shopwatch.png" alt="" width="1040" height="240" /></noscript> <br> ShopWatch - Đại lý đồng hồ đeo tay chính hãng cao cấp. Cung cấp các dòng đồng hồ Nhật Bản, Thụy Sĩ cao cấp với mức giá ưu đãi - Bảo hình chĩnh hãng chuẩn Thụy Sĩ 5 năm - Cam kết Fake hoàn tiền 10X lần giá trị</div></div><div id="custom_html-7" class="widget_text col pb-0 widget widget_custom_html"><span class="widget-title">Thông tin liên hệ</span><div class="is-divider small"></div><div class="textwidget custom-html-widget"><ul><li><strong>Showroom</strong>: <a rel="nofollow" href="https://goo.gl/maps/CcMstXxjVYK6uCAU7">Số 218 Lê Duẩn - Hà Nội</a></li><li><strong>Hotline</strong>: <a href="tel:097.559.2299"><strong>097.559.2299</strong></a></li><li><strong>Website</strong>:<a href="https://shopwatch.vn">shopwatch.vn</a></li><li><strong>Email</strong> : hotroshopwatch@gmail.com</li><li><strong>Giờ mở cửa</strong>: 9h00- 19h30</li><li>Tất cả các ngày trong tuần</li></ul> <a href="https://www.facebook.com/dongho.shopwatch/"><img class="alignleft wp-image-15651" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2050%2050'%3E%3C/svg%3E" alt="" width="50" height="50" data-lazy-src="https://shopwatch.vn/wp-content/uploads/2019/05/Facebook-Icon-1.png" /><noscript><img class="alignleft wp-image-15651" src="https://shopwatch.vn/wp-content/uploads/2019/05/Facebook-Icon-1.png" alt="" width="50" height="50" /></noscript> </a><a href="https://www.youtube.com/channel/UC55dyKDpPM3rWjgMQerD-mQ"><img class="alignleft wp-image-15650" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2050%2050'%3E%3C/svg%3E" alt="" width="50" height="50" data-lazy-src="https://shopwatch.vn/wp-content/uploads/2019/05/youtube-512.png" /><noscript><img class="alignleft wp-image-15650" src="https://shopwatch.vn/wp-content/uploads/2019/05/youtube-512.png" alt="" width="50" height="50" /></noscript> </a><a href="https://goo.gl/maps/CcMstXxjVYK6uCAU7"><img class="alignleft wp-image-15648" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2050%2050'%3E%3C/svg%3E" alt="" width="50" height="50" data-lazy-src="https://shopwatch.vn/wp-content/uploads/2019/05/google-maps-go-directions-traffic-transit_icon.png" /><noscript><img class="alignleft wp-image-15648" src="https://shopwatch.vn/wp-content/uploads/2019/05/google-maps-go-directions-traffic-transit_icon.png" alt="" width="50" height="50" /></noscript></a></div></div><div id="custom_html-6" class="widget_text col pb-0 widget widget_custom_html"><span class="widget-title">Chính sách dịch vụ</span><div class="is-divider small"></div><div class="textwidget custom-html-widget"><li><a rel="nofollow" href="https://shopwatch.vn/gioi-thieu-shopwatch">Giới thiệu ShopWatch</a></li><li><a rel="nofollow" href="https://shopwatch.vn/chinh-sach-bao-mat-thong-tin-tai-shopwatch">Chính sách bảo mật</a></li><li><a rel="nofollow" href="https://shopwatch.vn/dieu-khoan-dich-vu-tai-shopwatch">Điều khoản dịch vụ</a></li><li><a rel="nofollow" href="https://shopwatch.vn/chinh-sach-bao-hanh">Chính sách bảo hành</a></li><li><a rel="nofollow" href="https://shopwatch.vn/lien-he">Liên hệ tư vấn</a></li></div></div></div></div><div class="absolute-footer dark medium-text-center small-text-center"><div class="container clearfix"><div class="footer-primary pull-left"><div class="copyright-footer"> Bản quyền thuộc về 2020 &copy; <strong>ShopTech</strong></div></div></div></div></footer>
    </div>
    <script type='text/javascript' id='woocommerce-js-extra'>/* <![CDATA[ */ var woocommerce_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%" }; /* ]]> */</script>
    <script type='text/javascript' id='wc-cart-fragments-js-extra'>/* <![CDATA[ */ var wc_cart_fragments_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "cart_hash_key": "wc_cart_hash_40e37678e22b638d02de3f028657e170", "fragment_name": "wc_fragments_40e37678e22b638d02de3f028657e170", "request_timeout": "5000" }; /* ]]> */</script>
    <script type='text/javascript' id='flatsome-js-js-extra'>/* <![CDATA[ */ var flatsomeVars = { "ajaxurl": "https:\/\/shopwatch.vn\/wp-admin\/admin-ajax.php", "rtl": "", "sticky_height": "70", "lightbox": { "close_markup": "<button title=\"%title%\" type=\"button\" class=\"mfp-close\"><svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" width=\"28\" height=\"28\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"feather feather-x\"><line x1=\"18\" y1=\"6\" x2=\"6\" y2=\"18\"><\/line><line x1=\"6\" y1=\"6\" x2=\"18\" y2=\"18\"><\/line><\/svg><\/button>", "close_btn_inside": false }, "user": { "can_edit_pages": false }, "i18n": { "mainMenu": "Main Menu" }, "options": { "cookie_notice_version": "1" } }; /* ]]> */</script>       <div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide"><div class="sidebar-menu no-scrollbar "><ul class="nav nav-sidebar nav-vertical nav-uppercase"><li class="header-search-form search-form html relative has-icon"><div class="header-search-form-wrapper"><div class="searchform-wrapper ux-search-box relative is-normal"><form role="search" method="get" class="searchform" action="https://shopwatch.vn/"><div class="flex-row relative"><div class="flex-col flex-grow"> <label class="screen-reader-text" for="woocommerce-product-search-field-1">Tìm kiếm:</label> <input type="search" id="woocommerce-product-search-field-1" class="search-field mb-0" placeholder="Tìm kiếm&hellip;" value="" name="s" /> <input type="hidden" name="post_type" value="product" /></div><div class="flex-col"> <button type="submit" value="Tìm kiếm" class="ux-search-submit submit-button secondary button icon mb-0" aria-label="Submit"> <i class="icon-search"></i> </button></div></div><div class="live-search-results text-left z-top"></div></form></div></div></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-46 current_page_item menu-item-8170"><a href="https://shopwatch.vn/" aria-current="page">Trang chủ</a></li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25010"><a href="https://shopwatch.vn/gioi-thieu-shopwatch">Về ShopWatch</a></li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-9455"><a href="#">Thương hiệu</a><ul class="sub-menu nav-sidebar-ul children"><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-14488"><a href="https://shopwatch.vn/dong-ho-orient">Đồng hồ Orient</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-8096"><a href="https://shopwatch.vn/dong-ho-seiko">Đồng hồ Seiko</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-8090"><a href="https://shopwatch.vn/dong-ho-casio">Đồng hồ Casio</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-29593"><a href="https://shopwatch.vn/dong-ho-srwatch">Đồng Hồ SRWatch</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-27625"><a href="https://shopwatch.vn/dong-ho-bentley">Đồng hồ Bentley</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-9175"><a href="https://shopwatch.vn/dong-ho-op">Đồng hồ OP</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-8091"><a href="https://shopwatch.vn/dong-ho-citizen">Đồng hồ Citizen</a></li></ul></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-8087"><a href="https://shopwatch.vn/dong-ho-nam">Đồng hồ nam</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-8088"><a href="https://shopwatch.vn/dong-ho-nu">Đồng hồ nữ</a></li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-14489"><a href="#">Phụ kiện</a><ul class="sub-menu nav-sidebar-ul children"><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-8098"><a href="https://shopwatch.vn/hop-dung-dong-ho">Hộp đựng đồng hồ</a></li><li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-21863"><a href="https://shopwatch.vn/day-dong-ho">Dây đồng hồ</a></li></ul></li><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25003"><a href="https://shopwatch.vn/lien-he">Liên hệ</a></li><li class="account-item has-icon menu-item"> <a href="https://shopwatch.vn/tai-khoan" class="nav-top-link nav-top-not-logged-in"> <span class="header-account-title"> Đăng nhập </span> </a></li></ul></div></div><div id="login-form-popup" class="lightbox-content mfp-hide"><div class="woocommerce-notices-wrapper"></div><div class="account-container lightbox-inner"><div class="account-login-inner"><h3 class="uppercase">Đăng nhập</h3><form class="woocommerce-form woocommerce-form-login login" method="post"><p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide"> <label for="username">Tên tài khoản hoặc địa chỉ email&nbsp;<span class="required">*</span></label> <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="username" id="username" autocomplete="username" value="" /></p><p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide"> <label for="password">Mật khẩu&nbsp;<span class="required">*</span></label> <input class="woocommerce-Input woocommerce-Input--text input-text" type="password" name="password" id="password" autocomplete="current-password" /></p><p class="form-row"> <label class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme"> <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever" /> <span>Ghi nhớ mật khẩu</span> </label> <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="fe37d364f4" /><input type="hidden" name="_wp_http_referer" value="/" /> <button type="submit" class="woocommerce-button button woocommerce-form-login__submit" name="login" value="Đăng nhập">Đăng nhập</button></p><p class="woocommerce-LostPassword lost_password"> <a href="https://shopwatch.vn/tai-khoan/lost-password">Quên mật khẩu?</a></p></form></div></div></div> <noscript> <img height="1" width="1" style="display:none" alt="fbpx" src="https://www.facebook.com/tr?id=1744665838908876&ev=PageView&noscript=1" /> </noscript><div attribution="fbe_woocommerce" class="fb-customerchat" page_id="361855811219584"></div>   <div></div>
    <script type='text/javascript' id='wc-password-strength-meter-js-extra'>/* <![CDATA[ */ var wc_password_strength_meter_params = { "min_password_strength": "3", "stop_checkout": "", "i18n_password_error": "Vui l\u00f2ng nh\u1eadp m\u1eadt kh\u1ea9u kh\u00f3 h\u01a1n.", "i18n_password_hint": "G\u1ee3i \u00fd: M\u1eadt kh\u1ea9u ph\u1ea3i c\u00f3 \u00edt nh\u1ea5t 12 k\u00fd t\u1ef1. \u0110\u1ec3 n\u00e2ng cao \u0111\u1ed9 b\u1ea3o m\u1eadt, s\u1eed d\u1ee5ng ch\u1eef in hoa, in th\u01b0\u1eddng, ch\u1eef s\u1ed1 v\u00e0 c\u00e1c k\u00fd t\u1ef1 \u0111\u1eb7c bi\u1ec7t nh\u01b0 ! \" ? $ % ^ & )." }; /* ]]> */</script>
    <script>
        window.lazyLoadOptions = { elements_selector: "img[data-lazy-src],.rocket-lazyload,iframe[data-lazy-src]", data_src: "lazy-src", data_srcset: "lazy-srcset", data_sizes: "lazy-sizes", class_loading: "lazyloading", class_loaded: "lazyloaded", threshold: 300, callback_loaded: function (element) { if (element.tagName === "IFRAME" && element.dataset.rocketLazyload == "fitvidscompatible") { if (element.classList.contains("lazyloaded")) { if (typeof window.jQuery != "undefined") { if (jQuery.fn.fitVids) { jQuery(element).parent().fitVids() } } } } } }; window.addEventListener('LazyLoad::Initialized', function (e) {
            var lazyLoadInstance = e.detail.instance; if (window.MutationObserver) {
                var observer = new MutationObserver(function (mutations) {
                    var image_count = 0; var iframe_count = 0; var rocketlazy_count = 0; mutations.forEach(function (mutation) {
                        for (i = 0; i < mutation.addedNodes.length; i++) {
                            if (typeof mutation.addedNodes[i].getElementsByTagName !== 'function') { return }
                            if (typeof mutation.addedNodes[i].getElementsByClassName !== 'function') { return }
                            images = mutation.addedNodes[i].getElementsByTagName('img'); is_image = mutation.addedNodes[i].tagName == "IMG"; iframes = mutation.addedNodes[i].getElementsByTagName('iframe'); is_iframe = mutation.addedNodes[i].tagName == "IFRAME"; rocket_lazy = mutation.addedNodes[i].getElementsByClassName('rocket-lazyload'); image_count += images.length; iframe_count += iframes.length; rocketlazy_count += rocket_lazy.length; if (is_image) { image_count += 1 }
                            if (is_iframe) { iframe_count += 1 }
                        }
                    }); if (image_count > 0 || iframe_count > 0 || rocketlazy_count > 0) { lazyLoadInstance.update() }
                }); var b = document.getElementsByTagName("body")[0]; var config = { childList: !0, subtree: !0 }; observer.observe(b, config)
            }
        }, !1)</script>
    <script data-no-minify="1" async src="https://shopwatch.vn/wp-content/plugins/wp-rocket/assets/js/lazyload/16.1/lazyload.min.js"></script>
    <script>const wprRemoveCPCSS = () => { if (document.querySelector("link[data-rocket-async='style'][rel='preload']")) { setTimeout(wprRemoveCPCSS, 200); } else { $elem = document.getElementById("rocket-critical-css"); if ($elem) { $elem.remove(); } } }; if (window.addEventListener) { window.addEventListener("load", wprRemoveCPCSS); } else if (window.attachEvent) { window.attachEvent("onload", wprRemoveCPCSS); }</script>
    <script src="https://shopwatch.vn/wp-content/cache/min/1/68cd6e0ffc5385aec77f8b4477accae5.js" data-minify="1" defer></script><noscript><link rel="stylesheet" href="https://shopwatch.vn/wp-content/cache/min/1/2fca51f973bab8f44c25e2ae50a88a94.css" data-minify="1" /></noscript>
</body>
</html>
<!-- This website is like a Rocket, isn't it? Performance optimized by WP Rocket. Learn more: https://wp-rocket.me - Debug: cached@1607405200 -->
